.tab-parent {
    overflow: hidden;
}

.tab {
    border: solid 1px black;
    border-bottom: none;
    padding: 5px;
    margin-left: 3px;
    margin-top: 3px;
    display: inline-block;
    background-color: #efefef;
    cursor: pointer;
    height: 20px;
}

.tab.show {
    background-color: white;
    border-bottom: solid 1px white;
}
    

.tabs {
    height: 34px; /* 20px height + 2 * 5px padding - 1px */
    border-bottom: solid 1px black;
}

.tab-content {
    display: none;
    position: relative;

}

.tab-content.show {
    display: block;
    overflow: auto;
    position: absolute;
    top: 35px; bottom: 0;
    width: 100%;
}
