# gitignore/npmignore file for GeoMoose
#
# Please keep both these files in sync when making changes.  It is
# very likely a change to one should be made to both.  The exception
# is any build artifacts that are needed at runtime should be included
# in npm but excluded from git.


# GeoMOOSE demo site specific config file
examples/desktop/config.js
examples/mobile/config.js
examples/geomoose

# Editor backup files
*~
*.bak
*.swp

# macOS droppings
.DS_Store
*.DS_Store

# NPM package directory
node_modules/

# Test result directory
coverage/

# Results of packaging
geomoose*.tgz

# Results of building
# Note: this should be ignored by git but by not npm
dist/
docs/_site/
*.lock
