.linear-progress {
  height: 4px;
  border-radius: 2px;
  overflow: hidden;
  background-color: var(--gm-accent-soft);
  position: relative;

  .bar {
    position: absolute;
    background-color: var(--gm-accent);
    border-radius: 2px;
    top: 0;
    bottom: 0;
    width: 23%;
    right: 0%;
    animation: progress 1.6s var(--gm-ease) infinite;
  }
}

@keyframes progress {
  0% {
    right: -23%;
  }
  100% {
    right: 100%;
  }
}
